[Unit]
Description=Docker Registry main service
After=docker.service
Requires=

[Service]
Restart=always
ExecStartPre=-/usr/bin/docker stop registry
ExecStartPre=-/usr/bin/docker rm registry
ExecStart=/usr/bin/docker run \
    --name {{ registry_cid }} \
    --restart always \
    --network {{ gitlab_network }} \
    -e REGISTRY_AUTH_TOKEN_REALM=https://{{ git_domain_name }}/jwt/auth \
    -e REGISTRY_AUTH_TOKEN_SERVICE=container_registry \
    -e REGISTRY_AUTH_TOKEN_ISSUER=omnibus-gitlab-issuer \
    -e REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE=/certs/registry.crt \
    -e REGISTRY_STORAGE_DELETE_ENABLED=true \
    --volume /opt/docker-containers/registry/data:/var/lib/registry \
    --volume /opt/docker-containers/registry/certs:/certs \
    registry:2

[Install]
WantedBy=multi-user.target
