#!/bin/bash

/usr/bin/docker run \
    --env GITLAB_OMNIBUS_CONFIG="external_url 'https://{{ git_domain_name }}'; nginx['listen_https'] = false; nginx['proxy_set_headers'] = { \"X-Forwarded-Proto\" => \"https\", \"X-Forwarded-Ssl\" => \"on\" }; nginx['listen_port'] = 80; gitlab_rails['smtp_enable'] = true; gitlab_rails['smtp_address'] = \"{{ smtp_address }}\"; gitlab_rails['smtp_port'] = {{ smtp_port }}; gitlab_rails['smtp_user_name'] = \"{{ smtp_user_name }}\"; gitlab_rails['smtp_password'] = \"{{ smtp_password }}\"; gitlab_rails['smtp_authentication'] = \"login\"; gitlab_rails['smtp_enable_starttls_auto'] = true; gitlab_rails['smtp_tls'] = false; gitlab_rails['smtp_openssl_verify_mode'] = 'peer'; gitlab_rails['lfs_enabled'] = true; gitlab_rails['gitlab_shell_ssh_port'] = {{ ssh_port }}" \
    --publish {{ ssh_port }}:22 \
    --name {{ gitlab_cid }} \
    --restart always \
    --network {{ gitlab_network }} \
    --volume /opt/docker-containers/gitlab/config:/etc/gitlab \
    --volume /opt/docker-containers/gitlab/logs:/var/log/gitlab \
    --volume /opt/docker-containers/gitlab/data:/var/opt/gitlab \
    gitlab/gitlab-ce:latest